/* width <=576px, CELLPHONE*/

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
    border-color: black;
    border-width: 1px;
}

.card-header{
    background-color: white;

}

.card-header-image{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.5rem;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.card-body-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.card-body-seller{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-body-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}

.card-body-price{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: start;
}

.card-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-footer-counts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card-footer-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-btn{

    border-radius: 1rem;
    height: 2.5rem;
    margin: 0.1rem;
    width: 8rem;
}

.card-btn-plusless{

    border-radius: 1rem;

    margin: 0.2rem;
    width: 2rem;
}

